@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Merienda);


.CreateDiv {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    background: url("https://th.bing.com/th/id/R.0a9e74d24901a420403fe10fb66fd97c?rik=sqRwwFlXjBrO7Q&pid=ImgRaw&r=0");
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
}
.CreateDiv h1 {
    font-family: Merienda;
    color: aliceblue;
    font: bold;
    animation: animate 4s ease forwards;
    font-weight: 600;
    padding: 30px;
    width: 30rem;
    transform: translate(50px);
    opacity: 0;
    animation: animate2 1.5s ease 1.5s forwards;
}
.CreateDiv span {
    background-color:rgb(255, 196, 0);
    font-family: Merienda;
    padding: 0.3rem 0.5rem;
    display: inline-block;
    transform: translateX(50px);
    opacity: 0;
    animation: animate2 1.5s ease 1.5s forwards;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
@keyframes grow {
    10% {
        transform: scale(0.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}
@keyframes animate {
    100% {
        opacity: 1;
    }
}
@keyframes animate2 {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.divInputs {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: transparent;
    font-family: Merienda;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
    background-size: 25rem;
    width: 500px;
    margin-bottom: 10px;
    box-shadow: rgb(255, 196, 0) 0px -12px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(255, 196, 0, 0.772) 0px -20px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input {
    padding-top: 1.5rem;
}

.input input:hover {
    background-color: rgb(255, 196, 0);
    border: solid black;
}

.input input {
    background-color: rgba(240, 224, 224, 0.81);
    padding: 10px;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Sacramento;
    
}

.inputDiets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    padding: 0, 8rem 1rem;
    /* max-width: auto; */
    font-size: 15px;
}

.boxType:checked~.checkbox {
    transform: rotate(45deg);
    width: 10px;
    margin-left: 16px;
    border-color: aliceblue;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50px;
}

.boxType {
    width: 40px;
    height: 20px;
    transition: all 0.375s;
    cursor: pointer;
}

.inputImage {
    margin-bottom: 30px;
}

.submit {
    padding-bottom: 30px;
    
}

.submit button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    margin-top: 10px;
}

.submit button:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #ffae00,
            #ff7300,
            #909090,
            #ff0000,
            #850202,
            #ffffff,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.submit button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.backImg {
    margin: 10px;
    padding: 10px;
    height: 4rem;
    width: 4.5rem;
    border-radius: 20px;
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
        transform: translateY(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(255, 255, 255, 0.2);
        transform: translateY(-10px);
    }
}

@media (max-width: 800px){
    .CreateDiv{
        width: 200%;
    }
    .divInputs {
    width: 90%;
    }
}


