.principalDiv{
  display:flex;
  flex-wrap: wrap;
  background: url("https://static.vecteezy.com/system/resources/previews/004/969/863/non_2x/elegant-white-texture-background-with-lines-vector.jpg")no-repeat;
  background-size: cover;
  background-position: center;
  width: 100% auto;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.nav{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navBar{
  display: flex;
  align-self: center;
  width: 100%;
  margin-top: 2px;
}
.presentation{
  display: flex;
  align-self: center;
  width: 100%;
}
.Paginated{
  display: flex;
  align-self: center;
  margin-left: 428px;
}
.Paginated:focus{
     box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.CardsRecipes{
    display: flex;
    align-self: center;
    padding-top: 30px;
    justify-content: space-evenly;
    flex-wrap:wrap; 
    padding: 40px;
}

@media screen and (max-width: 400px) {
  .principalDiv {
    display: contents;
    width: 150% ; 
  }
  .nav{
    width: 493px;
    justify-content: center;
    align-items: center;
  }
  .CardsRecipes{
    display: contents;
  }
  .Paginated{
    display: flex;
    margin-left: 140px;
    padding-right: 2px;
    margin-bottom: 80px;
  }

}
/* 
@media screen and (max-width: 880px) {
  .Paginated{
    margin-bottom: 50px;
  }
} */




  
    

   


   
    
    
    
